<p>
  <strong>Title:</strong>
  <%= @car.title %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @car.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @car.image.url %>
</p>

<%= link_to 'Back', cars_path %>
